/* Write your code here. */
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}

.bg-color {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
}
